* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #dc4f72;
  --secondary: #0d5fa8;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

/* start dark link theme */
/* Light theme */
#myBody {
  background-color: black;
}
#switchButton {
  background-color: white;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 30px;
  right: 40px;
}
#switchButton .fa-sun {
  display: none;
}
#switchButton .fa-moon {
  display: block;
}
/* Dark Theme*/
.dark#myBody {
  background-color: white;
}
.dark #switchButton {
  background-color: black;
}
.dark #switchButton .fa-sun {
  display: block;
}

.dark #switchButton .fa-moon {
  display: none;
}

/* end dark light theme */
/*start header */
header .nav-fixed {
  padding: 0px;
  background-color: #fff;
  height: 70px;
  border-bottom: none;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
}
header {
  background-color: #fff;
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 90px;
  display: grid;
  align-items: center;
  box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}
button.navbar-toggler .icon-close {
  display: block;
}
button.navbar-toggler .icon-expand {
  display: none;
}
button.navbar-toggler.collapsed .icon-close {
  display: none;
}
button.navbar-toggler.collapsed .icon-expand {
  display: block;
}
@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid,
  .navbar-expand-lg > .container-sm,
  .navbar-expand-lg > .container-md,
  .navbar-expand-lg > .container-lg,
  .navbar-expand-lg > .container-xl {
    flex-wrap: nowrap;
  }
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}
.navbar-expand-lg .navbar-nav .dropdown-menu:before {
  content: "";
  width: 14px;
  height: 14px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: block;
  border-right: none;
  border-bottom: none;
  transform: translateX(-50%) rotateZ(45deg);
  position: absolute;
  top: -7px;
  left: 49%;
  z-index: 1001;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
  transform: translateX(-45px);
}
.theme-button {
  transition: 0.3s ease-out;
  display: inline-block;
  line-height: 52px;
  font-weight: 700;
  font-size: 14px;
  margin: 0px;
  padding: 0px 30px;
  text-transform: uppercase;
}
.btn-outline-primary {
  color: #dc4f72;
  border-color: #dc4f72;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #dc4f72;
  border-color: #dc4f72;
}
a {
  color: #dc4f72;
}
a:hover {
  color: #dc4f72;
  opacity: 0.8;
}

.nav-item .nav-link::before {
  position: absolute;
  content: "";
  background: var(--primary);
  width: 0;
  height: 2px;
  transition: all 0.5s;
  bottom: 13px;
}
.nav-item .nav-link:hover::before {
  width: 20px;
}
.dropdown-toggle::after {
  display: none;
}
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 26px;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--primary);
  letter-spacing: -1px;
}
.navbar-expand-lg .navbar-nav .nav-link {
  text-transform: capitalize;
  transition: all 0.5s ease;
  padding: 14px 15px;
  font-size: 16px;
  font-weight: 400;
  color: var(--title-color);
}
@media only screen and (max-width: 1440px) {
  .navbar-expand-lg .navbar-nav .nav-item {
    padding: 0 15px;
  }
  .navbar-expand-lg .nav_btn > li {
    padding: 0;
  }
}

@media only screen and (max-width: 1199px) {
  .navbar .navbar-brand img {
    max-width: 109px;
  }
  .navbar-expand-lg .btn-gradient {
    padding: 10px 20px;
    font-size: 14px;
  }
  .navbar-expand-lg .navbar-nav.nav_btn > li {
    margin-left: 0px;
  }
  .navbar-expand-lg .navbar-nav.nav_btn a.btn {
    padding: 10px 20px;
  }
  .navbar-expand-lg .navbar-nav.nav_btn a {
    font-size: 14px;
    padding: 0px;
  }
}
@media only screen and (max-width: 991px) {
  .popup {
    display: none;
  }
  a.nav-link:before,
  a.dropdown-item:before {
    bottom: 5px;
  }
  .navbar .navbar-brand img {
    max-width: 140px;
  }
  .navbar-toggler {
    border: 0 none;
    font-size: 24px;
  }
  .navbar-nav {
    -webkit-animation-name: none;
    animation-name: none;
    float: left;
    text-align: center;
    width: 100%;
    padding: 20px 0;
  }
  .navbar-nav:last-child {
    border: 0;
  }
  .navbar-expand-lg .navbar-nav .nav-item {
    -webkit-animation-name: none;
    animation-name: none;
    padding: 0;
  }
  .navbar-expand-lg .navbar-nav.nav_btn > li {
    padding-bottom: 10px;
  }
  .navbar-nav .dropdown-menu {
    text-align: center;
  }
  .navbar-nav .dropdown-menu .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .navbar-expand-lg .navbar-nav .nav-item .nav-link.active::before {
    bottom: 0;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    display: inline-block;
    padding: 8px 0;
    text-align: center;
  }
  header {
    height: auto;
    padding: 15px 0;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    transform: translateX(0px);
  }
  .phone {
    text-align: center;
  }
  .phone a {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
  }
  .phone a span {
    color: #fff;
  }
  header.nav-fixed {
    height: auto;
    padding: 10px 0;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    display: block;
  }
  .navbar-dark .navbar-toggler-icon {
    background-image: none;
    padding: 0;
    width: 34px;
    height: 34px;
    display: inline-block;
    background: var(--primary);
    border-radius: 4px;
    text-align: center;
  }
  .navbar-toggler-icon.fa {
    line-height: 1.2em;
    color: #fff;
    line-height: 34px;
    background-color: var(--primary);
    border-radius: 5px;
  }
  .navbar-toggler {
    padding: 0rem 0rem !important;
  }
}

@media only screen and (max-width: 767px) {
  #site-footer .copyright,
  #site-footer ul.footer-menu {
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  .navbar-brand img {
    max-width: 200px;
  }
}

@media only screen and (max-width: 991px) {
  .w3l-top-header {
    position: relative;
    height: 73px;
  }
}
/* end header  */
/* Start carousel */
#carousel {
  margin-top: 90px;
}
#carousel .content {
  position: relative;
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)),
    url(./img/banner.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  align-items: center;
  padding-top: 80px;
  z-index: 1;
  overflow: hidden;
  display: grid;
}
.content__left h3 {
  font-size: 50px;
  line-height: 57.5px;
  color: var(--title-color);
  font-weight: 700;
}
.content__left p {
  color: var(--text-color);
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  max-width: 450px;
}

.content__photo img {
  transform: rotate(180deg);
}
/* End Carousel */
/* Start Tool */
#tool {
  padding: 68px 0;
}
.tool__header {
  max-width: 750px;
  margin: 0 auto;
}
.tool__header .sub__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: var(--primary);
  text-transform: uppercase;
  margin-bottom: 5px;
}
.tool__header p {
  color: var(--text-color);
  font-size: 16px;
  line-height: 22.5px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
}
.tool__header h3 {
  color: var(--title-color);
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}
.s-block {
  border-radius: var(--card-curve);
  transition: 0.3s ease-in;
  background: #f7f9fc;
  padding: 3rem 2rem;
  border: 1px solid #f7f9fc;
}
.s-block:hover {
  transition: 0.3s ease-in;
  background-color: #ffffff;
  border: 1px solid #eee;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
  transform: translateY(-8px);
}
/* End Tool */
/* Start About */
.about {
  background: rgb(247, 249, 252);
}
.btn-primary {
  background: #dc4f72;
  border-color: #dc4f72;
}
.btn-primary:hover {
  background: #dc4f72;
}
.about__right img:hover {
  transform: translateY(-8px);
  transition: all 0.5s;
}
/* End About */
/* start number */
.number {
  background: #f7f9fc;
}
.number__list {
  background-color: #fff;
  padding: 2rem;
  border-radius: 6px;
  box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
  transition: 0.3s ease;
  border: 1px solid #eee;
}
.number__list h3 {
  font-size: 16px;
  line-height: 24.5px;
  text-transform: capitalize;
  color: var(--title-color);
  font-weight: 700;
}
.number__list .counter {
  font-size: 50px;
  line-height: 1;
  margin-bottom: 0;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 10px;
  color: var(--primary);
}
/* end number */

.container {
  max-width: 1200px;
}

/*  */
/* text-number */

.text-number {
  display: flex;
}

.textnumber__contai {
  background-color: #f7f9fc;
}

.jumbotron {
  margin: 0 15px;
  padding: 21px !important;
  background-color: white;
  border-radius: 6px;
  box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
}

.jumbotron h1 {
  font-size: 16px;
  line-height: 24.5px;
  text-transform: capitalize;
  color: #2c3038;
  font-weight: 700;
}

.jumbotron-fluid p.num__ber {
  font-size: 50px;
  line-height: 1;
  font-weight: 700;
  margin-top: 10px;
  color: #dc4f72;
}

.jumbotron-fluid p.lead {
  font-size: 16px;
}

.jumbotron:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
}

/* silder  */

.slider__content {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.33)
    ),
    url(./img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 480px;
  display: grid;
  align-items: center;
  padding: 2rem 0;
}

.slider {
  box-shadow: none;
  background-color: transparent;
  max-width: 550px;
}

.slider:hover {
  box-shadow: none;
}

.slider h1.slider__h1 {
  color: #ffffff;
  font-size: 29px;
  line-height: 36px;
  font-weight: 700;
}

.slider p.slider__p {
  font-size: 16px;
  line-height: 24.5px;
}

.slider a {
  transition: 0.3s ease-out;
  display: inline-block;
  line-height: 52px;
  font-weight: 700;
  font-size: 14px;
  margin: 0px;
  padding: 0px 30px;
  text-transform: uppercase;
}

/* solution  */

.solution {
  margin: 48px 0 48px 0 !important;
}

.solution__list {
  display: flex;
  margin-top: 48px;
}

.solution__list .card {
  margin: 0 15px;
  transition: 0.5s;
}

.solution__list .card:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
  transform: translateY(-0.5rem);
}

.solution__img {
  position: relative;
}

.solution__img img {
  transition: 0.5s;
  filter: grayscale(1);
}

.solution__list .card:hover .solution__img img {
  filter: grayscale(0);
}

.solution__list h4 {
  transition: 0.5s;
}

.solution__list .card:hover h4 {
  color: #dc4f72;
}

.solution__list .card:hover i {
  transform: translateX(5px);
}

.solution__img .solution__img__after {
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  border-bottom: none;
  padding-bottom: 0px;
  position: absolute;
  top: 0;
  background: #dc4f72;
  padding: 15px;
  margin-bottom: 0;
  right: 0;
  margin-top: 0;
  z-index: 1;
}

.solution__img .solution__img__after p {
  margin: 0;
}

.solution__list .card {
  border-radius: 6px;
  overflow: hidden;
}

.card-body {
  padding: 30px 20px;
  background-color: white;
}

.solution__list .badge {
  padding: 5px 16px;
  display: inline-block !important;
  border-radius: 25px;
  font-size: 13px;
  font-weight: 600;
  background: rgba(238, 97, 120, 0.2);
  color: #dc4f72;
  display: flex;
  justify-content: center;
  align-items: center;
}

.solution__list .badge-success {
  background: rgba(0, 128, 0, 0.2);
  color: #008000;
}

.solution__list .badge-primary {
  background: rgba(0, 0, 255, 0.2);
  color: #0000ff;
}

.solution__list a {
  padding: 0;
  color: #dc4f72;
  transition: 0.3s ease-in-out;
  border-radius: 0;
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
}

.solution__list a:hover {
  text-decoration: none;
}

.solution__list i {
  font-size: 9px;
  font-weight: 900;
  transition: 0.5s;
}

.txt__test p:nth-child(1) {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #dc4f72;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.txt__test h2:nth-child(2) {
  color: #2c3038;
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}

.txt__test p:nth-child(3) {
  color: #5a5a5a;
  font-size: 16px;
  line-height: 22.5px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

/* General  */

.ganeral {
  background-color: #f7f9fc;
}

.general__content {
  display: flex;
  margin-top: 48px;
}

.general__img {
  width: 40%;
  transition: 0.5s;
  border-radius: 6px;
  /* overflow: hidden; */
}

.general__img img {
  width: 100%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
  border-radius: 6px;
}

.general__img:hover {
  transform: translateY(-0.5rem);
}

.general__content #accordion {
  padding-left: 48px;
  padding-right: 15px;
  width: 60%;
}

.general__content #accordion .card {
  border: none;
  background-color: transparent;
  margin: 15px;
  border: 1px solid #eee;
  border-radius: 6px;
  overflow: hidden;
}

.general__content .card-header {
  padding: 15px 10px 15px 10px;
  border: none;
  background-color: white;
  cursor: pointer;
  width: 100%;
  height: 100%;
  /* border: 1px solid #eee; */
}

.general__content #accordion button {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-decoration: none;
  padding: 0;
}

.general__content #accordion button p {
  margin: 0;
  font-size: 20px;
  line-height: 1;
  font-weight: normal;
  display: block;
  margin: 0;
  cursor: pointer;
  color: #2c3038;
}

.general__content #accordion button i {
  color: #2c3038;
}

.general__content #accordion button:hover {
  text-decoration: none;
}

@media only screen and (min-width: 740px) and (max-width: 1023px) {
  /* text number  */
  .text-number {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .jumbotron {
    width: 45%;
    margin-top: 48px;
  }
  /* slider  */
  .slider {
    width: 100% !important;
  }
  /* solution  */
  .solution__list {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .solution__list .card {
    max-width: 45%;
    margin-top: 48px;
  }
  /* ganeral  */
  .general__content #accordion {
    padding: 0 15px;
  }
}

@media only screen and (max-width: 739px) {
  /* text number  */
  .text-number {
    display: flex;
    flex-wrap: wrap;
  }
  .jumbotron {
    width: 100%;
    margin-top: 48px;
  }
  /* slider  */
  .slider {
    width: 100%;
  }
  /* solution  */
  .solution__list {
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
  }
  .solution__list .card {
    width: 100% !important;
    margin-top: 48px;
  }
  /* general  */
  .general__img {
    margin-top: 48px;
  }
  .general__content {
    display: flex;
    flex-wrap: wrap;
  }
  .general__img {
    width: 100%;
  }
  .general__content #accordion {
    width: 100%;
    padding: 0;
    padding: 15px;
  }
  .general__content #accordion .card {
    margin: 15px 0;
  }
  .general__content {
    margin-top: 0;
  }
}
/* carousel */

.w3l-footer #movetop {
  display: none;
  position: fixed;
  bottom: 75px;
  right: 0px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  width: 50px;
  height: 45px;
  background: var(--primary);
  padding: 0;
  opacity: 0.7;
  transition: 0.3s ease;
}

/* tart part 3 */
/* phần 1 */
.completed_projects {
  padding-top: 4rem;
  margin-bottom: 4.5rem;
}
.content__all {
  text-align: center;
}
.content__all p:nth-child(1) {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #dc4f72;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.content__all h2 {
  color: #2c3038;
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
  /* ..... */
}
.content__all p:nth-child(3) {
  color: #5a5a5a;
  font-size: 16px;
  line-height: 22.5px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
}
/* phần 1 Completed Projects */
.container_project {
  display: flex;
  padding-top: 3rem;
}
.project__list {
  position: relative;
}
.projectt {
  width: 33.3333%;
  text-align: center;
  font-weight: 700;
  font-size: 22px;
  padding: 15px;
  margin: 0;
  list-style: none;
  cursor: pointer;
  float: left;
  text-align: center;
  border-bottom: 3px #6c757d solid;
}
.projectt p {
  color: #4e5b61;
}
.pro_list_left {
  background-color: rebeccapurple;
  position: absolute;
  left: 0;
  bottom: 0;
}
.projectt__list {
  display: flex;
  margin: 20px 0;
}
.projectt__list__left {
  width: 50%;
  padding: 15px;
}
.projectt__list__right {
  width: 50%;
  padding: 15px;
}
.projectt__list__left h3 {
  color: #2c3038;
  margin-bottom: 16px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}
.projectt__list__left p {
  color: #5a5a5a;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 24.5px;
}
.projectt__list__left button {
  transition: 0.3s ease-out;
  display: inline-block;
  line-height: 52px;
  font-weight: 700;
  font-size: 14px;
  margin: 0px;
  padding: 0px 30px;
  text-transform: uppercase;
  margin-top: 25px;
  background-color: #fff;
  color: #dc4f72;
  border-color: #dc4f72;
}
.projectt__list__left button:hover {
  background-color: #dc4f72;

  color: #fff;
}
.projectt__list__right img {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
  transition: 0.3s ease-in-out;
}
.projectt__list__right img:hover {
  transform: translateY(-10px);
}
.projectt1 {
  border-color: #dc4f72;
}
.projectt1 .pro__p {
  color: #dc4f72;
}

/* phan2 */
.People__Say {
  background-image: linear-gradient(
      to right,
      rgba(247, 249, 252, 0.77),
      rgba(247, 249, 252, 0.77)
    ),
    url(./img/b2.jpg);
  background-size: cover;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding: 3rem 0;
}
.People__say__list {
  display: flex !important;
  background-color: white;
  border-radius: 8px;
  /* flex-wrap: wrap; */
  margin: 0 5px;
  padding: 2rem;
  /* width: 90%; */
}
.say__img {
  width: 20%;
  width: 100px;
  height: 100px;
  display: inline-block;
  overflow: hidden;
  background: #f3f6f9;
  border-radius: 50%;
  border: 3px solid #dc4f72;
}
.say__img img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
}
.say__icon {
  width: 10%;
  color: #d5d6d7;
  font-size: 30px;
}
.say__content {
  width: 70%;
  text-align: left;
}
.say__content h4 {
  font-size: 18px;
  color: #dc4f72;
  font-weight: 400;
  margin-top: 1.5rem;
}
.say__content span:nth-child(3) {
  font-size: 13px;
  color: #5a5a5a;
}
.people__container {
  margin: 0 -5px;
  display: flex;
  margin-top: 24px;
}
.people__say__list__c {
  padding: 0 5px;
}
/* bai3  */
.conmunity__btn__a {
  transition: 0.3s ease-out;
  display: inline-block;
  line-height: 52px;
  font-weight: 700;
  font-size: 14px;
  margin: 0px;
  padding: 0px 30px;
  text-transform: uppercase;

  color: #dc4f72;
  border-color: #dc4f72;
}
.community__btn {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.comunity_container {
  padding: 3rem;
}
.conmunity__btn__a:hover {
  color: #fff;
  background-color: #dc4f72;
  border-color: #dc4f72;
}
/* bai 4  */
.footer__end {
  background-color: #f7f9fc;
  padding-top: 3rem;
}
.footer__ec {
  display: flex !important;
  /* flex-direction: row; */
  justify-content: space-between;
}
.footer__ec ul {
  display: inline-block;
}
.footer__ec ul li {
  list-style: none;
  margin: 10px 0;
}
.footer__ec ul li:nth-child(1) {
  font-size: 20px;
  line-height: 25px;
  color: #2c3038;
  margin-bottom: 30px;
  font-weight: 700;
}
.footer__ec ul:nth-child(1) {
  width: 15%;
}
.footer__ec ul:nth-child(2) {
  width: 15%;
}
.footer__ec ul:nth-child(3) {
  width: 15%;
}
.footer__ec ul:nth-child(4) {
  width: 50%;
}
.footer__form {
  background-color: #fff;
  padding: 2em;
  border-radius: 6px;
  box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
}
.footer__form h4 {
  font-size: 18px;
  line-height: 25px;
  color: #2c3038;
  margin-bottom: 30px;
  font-weight: 500;
}
.footer__form p {
  margin-top: 15px;
}
.footer__form form input {
  background: #f7f9fc;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  outline: none;
  width: 78%;
  color: #2c3038;
  font-weight: 600;
  border-radius: 6px;
}
.footer__form button {
  text-align: center;
  background: #dc4f72;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 20px;
  cursor: pointer;
  width: 20%;
  color: #fff;
  border-radius: 6px;
}
.ft_li:hover {
  cursor: pointer;
  color: #dc4f72;
}
/* phancuoi  */
.footer__end2 {
  background-color: #f7f9fc;
}
.footer__end2c {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3rem;
  padding-top: 1.5rem;
  border-top: 1px solid #eaeaea;
}
.footer__end2c p {
  margin: 0;
}
.fe2__icon i {
  margin: 0 8px;
  cursor: pointer;
}
@media only screen and (min-width: 740px) and (max-width: 1023px) {
  .footer__ec {
    flex-wrap: wrap;
  }
  .footer__ec ul:nth-child(4) {
    width: 100%;
  }
  .footer__end2c {
    flex-direction: column;
  }
  .fe2__icon {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 739px) {
  .container_project {
    display: flex;
    flex-direction: column;
  }
  .projectt {
    width: 100%;
  }
  .projectt__list {
    display: flex;
    flex-direction: column;
  }
  .projectt__list__right {
    width: 100%;
  }
  .projectt__list__left {
    width: 100%;
  }
  /* phan =3 */
  .footer__ec {
    display: flex !important;
    flex-direction: column;
  }
  .footer__ec ul {
    width: 100% !important;
  }
  .footer__ec ul li {
    width: 100%;
  }
  .footer__end2c {
    flex-direction: column;
  }
  .fe2__icon {
    margin-top: 1rem;
  }
}
/* end part 3   */
